
<div class="bg-dark"></div>


<div class="home-information">
<h1 class="slogan"> Come find a recipe, <small>we won't judge </h1>

<%= bootstrap_form_tag url: "recipe" do |f| %>
  <%= f.text_field :q, label: "Search for food" %>
  <%= f.primary "Search" %>
<% end %>



<!--   <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="mmmmmm......" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div> -->
<br>
   <a class ="btn btn-social btn-lg btn-facebook">
    <i class = "fa fa-facebook"></i> Sign in via Facebook
    </a>
    <br /> <br />
</div>


<!-- <div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="http://sendvid.com/a6kiqw0v" type="video/mp4">

    </video>
</div> -->


  <script type="text/javascript">

  jQuery(function($) {

    $.supersized({
        slide_interval    : 4000,
        transition        :1,
        transition_speed  :700,
        slide_links     :'blank',

        slides           : [

            {image : 'assets/bg1.jpg'},
            {image : 'assets/bg3.jpg'},
            {image : 'assets/bg4.jpg'},
            {image : 'assets/bg5.jpg'},
            {image : 'assets/bg6.jpg'},
            {image : 'assets/bg7.jpg'},
            {image : 'assets/bg8.jpg'},
            {image : 'assets/bg9.jpg'},
            {image : 'assets/bg10.jpg'}
        ]

    });


});

</script>