

  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-offset-2">

  <h2 class="slogan1">Favorited Recipe Links</h2>
    <% @favorites.each do |f|%>
    <div class="well">
      <%= link_to f.url, f.url %>
      <%= link_to "", delete_favorite_path(f), :method => :delete, class: "fa fa-trash-o text-right" %>

    </div>
    <% end %>

    </tbody>
  </table>
</div>



