<div class="container">

<% @food.each do |item| %>
<div class="well">
<h1><%= link_to item["title"], item["href"] %></h1>
<h1><%= image_tag item["thumbnail"] %></h1>
<%# link_to "Favorite", "#", :class => "button favorite", :method => :post  %>
<p class="favorite" data="/favorites"> Favorite </p>

</div>
<% end %>

<% if @food.empty? %>
<div class="well">
<h3>No results found</h3>
<%= link_to "Search again", root_path, class: "btn btn-primary" %>
</div> -->
<% end %>
</div>