<% @food.each do |item| %>
<div class="well">
<h1><%= item["title"] %></h1>
<h1><%= image_tag item["thumbnail"] %></h1>
</div>
<% end %>

<% if @food.empty? %>
<div class="well">
<h3>No results found</h3>
<%= link_to "Search again", root_path, class: "btn btn-primary" %>
</div> -->
<% end %>