
<div class="bg-dark"></div>


<div class="home-information">
<h1 class="slogan"> Come find a recipe, we won't judge </h1>
    <a class ="btn btn-social btn-lg btn-facebook">
    <i class = "fa fa-facebook"></i> Sign in with Facebook
    </a>
    <br /> <br />
</div>


<!-- <div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="http://sendvid.com/a6kiqw0v" type="video/mp4">

    </video>
</div> -->


  <script type="text/javascript">

  jQuery(function($) {

    $.supersized({
        slide_interval    : 4000,
        transition        :1,
        transition_speed  :700,
        slide_links     :'blank',

        slides           : [

            {image : 'assets/bg1.jpg'},
            {image : 'assets/bg3.jpg'},
            {image : 'assets/bg4.jpg'},
            {image : 'assets/bg5.jpg'},
            {image : 'assets/bg6.jpg'},
            {image : 'assets/bg7.jpg'},
            {image : 'assets/bg8.jpg'},
            {image : 'assets/bg9.jpg'},
            {image : 'assets/bg10.jpg'}
        ]

    });


});

</script>