
/* forms */

.name {
float: right;
margin-top:25px;
margin-right: 15px;
color: #fc735d;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  /*@include box_sizing;*/
}

input {
  height: auto !important;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #fc735d;
    border-color: #fc735d;

}
    .btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #fc735d;
    color: #fc735d;
    box-shadow: none;
    font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 10px;
    margin-left: 5px;
}
