/*@import url(https://fonts.googleapis.com/css?family=Varela+Round|Raleway:400,900,700,800,600,500,300,200,100);
*/


@import url(http://fonts.googleapis.com/css?family=Varela|Raleway:400,900,800,700,500,600,100,200,300|Sofia|Indie+Flower|Merienda);
$font-family-sans-serif: 'Varela Round' sans-serif;
$font-family-logout: 'Sofia';
$font-family-login: 'Merienda', cursive;